<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kenoDigital.rookiemate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RookieMate">
        <activity
            android:name=".DashboardPages.MaterialsDashboardPage"
            android:exported="false" />
        <activity
            android:name=".DashboardPages.DashboardPage"
            android:exported="false" />
        <activity
            android:name=".profilePages.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInPages.SignUpPage"
            android:exported="false" />
        <activity
            android:name=".SignInPages.SignInPage"
            android:exported="true" />
        <activity
            android:name=".UserProfilePage"
            android:exported="false" />
        <activity
            android:name=".OppertunitiesPages.ViewOppertunitiesPage"
            android:exported="false" />
        <activity
            android:name=".MaterialsPages.ViewMaterialsPage"
            android:exported="false" />
        <activity
            android:name=".AnnouncementsPages.ViewAnnouncementsPage"
            android:exported="false" />
        <activity
            android:name=".ProjectPages.ViewProjectsPage"
            android:exported="false" />
        <activity
            android:name=".ExplorePage"
            android:exported="true" />
    </application>

</manifest>